---

- name: PowerShell Script
  hosts: "{{ _hosts | default('os_windows') }}"
  gather_facts: false
  vars:
    remote_dest: "C:\\query_services.ps1"

  tasks:
    - name: Copy PowerShell script to remote
      ansible.windows.win_copy:
        src: "../files/query_services.ps1"
        dest: "{{ remote_dest }}"

    - name: Run remote script
      register: ps_output
      ansible.windows.win_powershell:
        path: "{{ remote_dest }}
        remote_src: true
        parameters:
          ServiceState: "{{ serviceState }}"

    - name: Print output
      ansible.builtin.debug:
        var: ps_output
